/* /classes/index.css */

.class-selection-page .page-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }

  .class-selection-page .back-link {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: #4CAF50; /* 緑色 */
    text-decoration: none;
  }

  .class-selection-page .back-link:hover {
    text-decoration: underline;
  }

  .class-selection-page .class-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .class-selection-page .class-link {
    margin: 10px;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
  }

  .class-selection-page .class-link:hover {
    background-color: #ddd;
  }
