/* stamps/show.css */

.calendar .fc-header-toolbar {
    display: none;
}

.stamp-card-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    font-family: Arial, sans-serif;
    margin-top: 420px;
}

.stamp-card-page h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

.stamp-card-page .btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.stamp-card-page .btn:hover {
    background-color: #0056b3;
}

.stamp-card-page .month-year {
    text-align: center;
    margin: 10px 0;
    font-size: 1.5em;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 20px;
    width: auto;
}

.day-names {
    display: contents;
}

.day-name {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 100px;
}

.day.today {
    background-color: #ffeaa7;
}

.date-number {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.stamp {
    margin-top: 5px;
}

.day-name:nth-child(1), .day:nth-child(7n + 1) {
    color: #778899; /* 日曜日: ライトスレートグレー */
}

.day-name:nth-child(2), .day:nth-child(7n + 2) {
    color: #9370db; /* 月曜日: ミディアムパープル */
}

.day-name:nth-child(3), .day:nth-child(7n + 3) {
    color: #cd5c5c; /* 火曜日: インディアンレッド */
}

.day-name:nth-child(4), .day:nth-child(7n + 4) {
    color: #4682b4; /* 水曜日: スチールブルー */
}

.day-name:nth-child(5), .day:nth-child(7n + 5) {
    color: #6b8e23; /* 木曜日: オリーブドラブ */
}

.day-name:nth-child(6), .day:nth-child(7n + 6) {
    color: #ffd700; /* 金曜日: ゴールド */
}

.day-name:nth-child(7), .day:nth-child(7n + 7) {
    color: #ffa07a; /* 土曜日: ライトサーモン */
}
