/* stamps/show.css */

.calendar .fc-header-toolbar {
    display: none;
  }

  .stamp-card-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    font-family: Arial, sans-serif;
    margin-top: 420px;
  }

  .stamp-card-page h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
  }

  .stamp-card-page .btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }

  .stamp-card-page .btn:hover {
    background-color: #0056b3;
  }

  .stamp-card-page .month-year {
    text-align: center;
    margin: 10px 0;
    font-size: 1.5em;
  }

  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 20px auto;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.8); /* カレンダー全体に薄い白の背景色を設定 */
    padding: 10px;
    border-radius: 10px;
  }

  .day-names {
    display: contents;
  }

  .day-name {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }

  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 100px;
  }

  .day.today {
    background-color: #ffeaa7;
  }

  .date-number {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .stamp {
    margin-top: 5px;
  }

  .sunday {
    color: #778899; /* 日曜日: ライトスレートグレー */
  }

  .monday {
    color: #9370db; /* 月曜日: ミディアムパープル */
  }

  .tuesday {
    color: #cd5c5c; /* 火曜日: インディアンレッド */
  }

  .wednesday {
    color: #4682b4; /* 水曜日: スチールブルー */
  }

  .thursday {
    color: #6b8e23; /* 木曜日: オリーブドラブ */
  }

  .friday {
    color: #ffd700; /* 金曜日: ゴールド */
  }

  .saturday {
    color: #ffa07a; /* 土曜日: ライトサーモン */
  }
