<!-- /classes/index.html.erb -->
<div class="class-selection-page">
    <h1 class="page-title">クラス選択</h1>
    <%= link_to 'さいしょに もどる', authenticated_root_path, class: 'back-link button-link' %>

    <div class="class-list">
        <% @classes.each do |grade_class| %>
            <%= link_to "#{grade_class.grade} - #{grade_class.class_num}", class_diaries_path(grade_class), class: 'class-link button-link' %>
        <% end %>
    </div>
  </div>


