<!-- /classes/index.html.erb -->
<div class="class-selection-page">
    <h1 class="page-title">日記を見る クラス選択</h1>
    <%= link_to 'さいしょに もどる', authenticated_root_path, class: 'back-link button-link' %>

    <ul class="class-list">
      <% @classes.each do |grade_class| %>
        <li>
          <%= link_to "#{grade_class.grade}年#{grade_class.class_num}組", class_diary_path(grade_class), class: 'class-link' %>
        </li>
      <% end %>
    </ul>
  </div>
