/* /diaries/choose_diary.css */

.diary-selection-page {
    background-color: #ffffff; /* 背景色を白に設定 */
    font-family: 'Arial', sans-serif;
    color: black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.diary-selection-page .button {
    background-color: #007bff; /* ボタンの背景色 */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
}

.diary-selection-page .week-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.diary-selection-page .week-navigation .button {
    background-color: #007bff; /* ボタンの背景色 */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.diary-selection-page .week-navigation .previous-week-button {
    background-color: #007bff; /* 前の週のボタン */
}

.diary-selection-page .week-navigation .next-week-button {
    background-color: #007bff; /* 次の週のボタン */
}

.diary-selection-page .week-navigation .button:hover {
    background-color: #0056b3; /* ホバー時 */
}

.diary-selection-page .week-navigation span {
    font-size: 1.5em;
    font-weight: bold;
}

.diary-selection-page ul {
    list-style-type: none;
    padding: 0;
}

.diary-selection-page ul li {
    margin: 10px 0;
}

.diary-selection-page ul li a {
    display: inline-block;
    width: calc(100% - 40px);
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.diary-selection-page ul li.diary-item-1 a {
    background-color: #9370db; /* 月曜日の色をミディアムパープルに設定 */
}

.diary-selection-page ul li.diary-item-2 a {
    background-color: #cd5c5c; /* 火曜日の色をインディアンレッドに設定 */
}

.diary-selection-page ul li.diary-item-3 a {
    background-color: #4682b4; /* 水曜日の色をスチールブルーに設定 */
}

.diary-selection-page ul li.diary-item-4 a {
    background-color: #6b8e23; /* 木曜日の色をオリーブドラブに設定 */
}

.diary-selection-page ul li.diary-item-5 a {
    background-color: #ffd700; /* 金曜日の色をゴールドに設定 */
}

.diary-selection-page ul li.diary-item-6 a {
    background-color: #ffa07a; /* 土曜日の色をライトサーモンに設定 */
}

.diary-selection-page ul li.diary-item-0 a {
    background-color: #778899; /* 日曜日の色をライトスレートグレーに設定 */
}

.diary-selection-page ul li a:hover {
    background-color: #a9a9a9; /* ホバー時の色をダークグレーに設定 */
    color: black;
}

.diary-selection-page .return-button {
    background-color: #d3d3d3; /* さいしょに もどるボタンの色をライトグレーに設定 */
}
